[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TwoTimeScales"]
	path = TwoTimeScales
	url = https://github.com/angelacar/twotimescales
